<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />

        <!-- Define local source using a relative path -->
        <add key="local-packages" value="./local-packages" />

        <!-- Add the official nuget.org source -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="local-packages">
            <package pattern="LLamaSharp.Backend.Cpu" />
            <package pattern="LLamaSharp.Backend.Vulkan" />
            <package pattern="LLamaSharp.Backend.Vulkan.Linux" />
            <package pattern="LLamaSharp.Backend.Vulkan.Windows" />
        </packageSource>
    </packageSourceMapping>
</configuration>